/*********************
*** EASY CHALLENGE ***
*********************/
select {
	/* Remove default styling */
	/* -webkit-appearance: none;
    -moz-appearance:    none;
	appearance:         none; */
	font-size: 16px;
	color: white;
	background-color: slategray;
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: 	background-color .2s ease-in-out;
	transition: 		background-color .2s ease-in-out;
	border-radius: .625em;
	padding: .5em;
	outline: none;
}

option.yoda {
    background-color: green;
    font-size: 2em;
}

option.vader {
    background-color: red;
    font-size: 1.8em;
}

option.skywalker {
    background-color: blue;
    font-size: 1.6em;
}

option.kenobi {
    background-color: blue;
    font-size: 1.4em;
}

option.solo {
    background-color: white;
    font-size: 1em;
    color: black;
}


/***********************
*** MEDIUM CHALLENGE ***
***********************/

/* Style input in 'OFF' state */
.medium.challenge input[type='checkbox'] {
	/* remove default non-styleable checkbox: */
	-webkit-appearance: none;
	-moz-appearance: 	none;
	appearance: 		none;
	/* control overall checkbox size with font-size: */
	font-size: 16px;
	width: 5em;
	height: 2em;
	background-color: red;
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: 	background-color .2s ease-in-out;
	transition: 		background-color .2s ease-in-out;
	border-radius: 1em;
	position: relative;
	cursor: pointer;
	outline: none;
	/* align input checkbox and its text/label to middle */
	vertical-align: middle;
	/* shadows: h-offset v-offset blur spread color */
	-webkit-box-shadow: inset 0 0 .6em .1em rgba(0,0,0,.7);
	-moz-shadow:		inset 0 0 .6em .1em rgba(0,0,0,.7);
	box-shadow: 		inset 0 0 .6em .1em rgba(0,0,0,.7);
}

/* Style input in 'ON' state */
.medium.challenge input[type='checkbox']:checked {
	/* change input background color when checked */
	background-color: rgb(26, 177, 26);
}

/* Style the 'check' in 'OFF' position */
.medium.challenge input[type='checkbox']:after {
	position: absolute;
	content: "";
	width: 2em;
	height: 2em;
	/* scales down the check and keeps it centered: */
	-webkit-transform: scale(.75);
	-moz-transform:    scale(.75);
	transform: 		   scale(.75);
	/* shadows: h-offset v-offset blur spread color */
	-webkit-box-shadow: inset 0 0 .4em .05em rgba(0,0,0,.4);
	-moz-box-shadow:	inset 0 0 .4em .05em rgba(0,0,0,.4);
	box-shadow: 		inset 0 0 .4em .05em rgba(0,0,0,.4);
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: 	all .2s ease-in-out;
	transition: 		all .2s ease-in-out;
}
	
/* style the 'check' in 'ON' position */
.medium.challenge input[type='checkbox']:checked:after {
	/* moves the 'check' to right */
	left: 3em;
}


/*********************
*** HARD CHALLENGE ***
*********************/

.checkboxholder {
    padding-top: 1em;
    padding-bottom: 1em;
}

.checkboxholder input[type='checkbox'] {
    /* remove default non-styleable checkbox: */
	-webkit-appearance: none;
	-moz-appearance: 	none;
    appearance: 		none;
    width: 4em;
    height: 1em;
    background-color: #666;
    position: relative;
	cursor: pointer;
    outline: none;
    z-index: 100;
    border-radius: .25em;
}

/* Style input in 'ON' state */
.checkboxholder {
    display: flex;
    justify-content: space-between;
}

/* Style the 'check' in 'OFF' position */
.checkboxholder input[type='checkbox']:after {
    position: absolute;
    left: 4em;
    content: '';
    width: 0;
    height: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
	/* scales down the check and keeps it centered: */
	-webkit-transform: scale(1, .4);
	-moz-transform:    scale(1, .4);
    transform: 		   scale(1, .4);
    transition: all 0.3s ease-in;
}

/* style the 'check' in 'ON' position */
.checkboxholder input[type='checkbox']:checked:after {
    width: 18em;
}


/* style each lightsaber */

#checkboxHolder-0 input[type='checkbox']:after {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 .25em red, 0 0 .5em red;
    background-color: rgb(236, 163, 163);
}

#checkboxHolder-0 input[type='checkbox']:checked:after {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 1em red, 0 0 3em red;
    background-color: rgb(255, 121, 121);
}

#checkboxHolder-1 input[type='checkbox']:after {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 .25em green, 0 0 .5em green;
    background-color: green;
}

#checkboxHolder-1 input[type='checkbox']:checked:after {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 1em green, 0 0 3em green;
    background-color: green;
}

#checkboxHolder-2 input[type='checkbox']:after {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 .25em blue, 0 0 .5em blue;
    background-color: blue;
}

#checkboxHolder-2 input[type='checkbox']:checked:after {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 1em blue, 0 0 3em blue;
    background-color: blue;
}



/********************************
*** CHALLENGE GENERAL STYLES ****
*********************************/

body {
	background-image: radial-gradient(circle, #d6d6d6, #c6c7ca, #b5babe, #a2adb1, #90a0a1);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
    margin: 0;
    padding: 0;
	display: flex;
    justify-content: center;
	align-items: center;
}
.challenges{
	width: 450px;
	/* margin: 50px auto; */
	font-family: Arial, Helvetica, sans-serif;
	color: #505050;
	border: 3px solid #505050;
	border-radius: 20px;
	padding: 25px;
	background-color: white;
}
.challenge{
	border: 1px solid #505050;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
}
h1{
    margin: 0px;
}
h2{
    margin-top: 0px;
}